@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    min-height: 100vh;
    background: white;
    color: #1f1f1f;
    position: relative;
}

.logo_header {
    position: absolute;
    top: 10px;
    left: 10px; 
}

.logo_header img {
    height: 200px;
    width: 150px;
}

nav {
    margin-left: 150px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 30px;
}

nav ul li {
    font-size: 1.3rem;
    padding: 0 40px;
    cursor: pointer;
}

nav ul li:hover {
    text-decoration: underline 4px;
}

.dicover_button_container {
    position: absolute;
    top: 28%;
    right: 50%;
    transform: translateX(50%);
}

#discover_button {
    font-size: 1.5rem;
    
    border: 2px solid #1f1f1f;
    border-radius: 5px;
    background: white;
    padding: 10px 20px;
    width: 150px;
    transition: 0.3s ease;

    cursor: pointer;
}

#discover_button:hover {
    background: #1f1f1f;
    border: 2px solid white;
    color: white;
}

#discover_button:active {
    transform: scale(0.9);
}

svg {
    position: absolute;
    top: 25%;
}

.section_container {
    color: white;
    position: absolute;
    right: 0;
    left: 0;
    top: 65%;
    background: #1f1f1f;
    height: 100vh;
}

.Title_text_container {
    position: relative;
}

#Project_title_text {
    padding: 10px;
    margin: 20px 150px;
    font-size: 2.5rem;
}

#Security_title_text {
    padding: 10px;
    margin: 20px 150px;
    font-size: 2.5rem;
}

.underline_title_security {
    bottom: 0;
    left: 160px;
    position: absolute;
    width: 410px;
    height: 5px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(31,31,31,1) 91%);
}

.underline_title_project {
    bottom: 0;
    left: 160px;
    position: absolute;
    width: 140px;
    height: 5px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(31,31,31,1) 91%);
}

.box_project_container {
    display: flex;
    justify-content: center;
    margin: 50px 0 150px 0;
    width: 100%;
    height: 250px;
}

.project_Box {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #1f1f1f;
    width: 350px;
    margin: 15px;
    font-size: 1.5rem;

    border: 3px solid white;
    border-radius: 15px;
}

.box_presentation_security {
    margin: 40px auto;
    width: 70%;
}

#text_presentation {
    text-align: center;
    padding: 15px;
}

/* .div_box_container {
    display: flex;
    justify-content: center;
    margin: 50px;
}

#form-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 100px);
    width: 65%;
}

input[type=email] {
    display: block;
    margin: 5px 0;
    padding: 10px;
    width: 100%;
}

textarea {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    resize: vertical
}

#submit {
    font-size: larger;
    height: 50px;
    border-radius: 10px;
    margin: 15px 0;
    cursor: pointer;
} */

.footer_container {
    background: red;
    position: absolute;
    bottom: 0;
}