@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    min-height: 100vh;
    background: white;
    color: #1f1f1f;
    position: relative;
}

.logo_header {
    position: absolute;
    top: 0px;
    left: 10px; 
}

.logo_header img {
    height: 200px;
    width: 150px;
}

nav {
    margin-left: 150px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 30px;
}

nav ul li {
    font-size: 1.3rem;
    padding: 0 40px;
    cursor: pointer;
}

nav ul li:hover {
    text-decoration: underline 4px;
}

.dicover_button_container {
    position: absolute;
    top: 28%;
    right: 50%;
    transform: translateX(50%);
}

#discover_button {
    font-size: 1.5rem;
    
    border: 2px solid #1f1f1f;
    border-radius: 5px;
    background: white;
    padding: 10px 20px;
    width: 150px;
    transition: 0.3s ease;

    cursor: pointer;
}

#discover_button:hover {
    background: #1f1f1f;
    border: 2px solid white;
    color: white;
}

#discover_button:active {
    transform: scale(0.9);
}

svg {
    position: absolute;
    top: 25%;
    z-index: -1;
}

.section_container {
    color: white;
    position: absolute;
    right: 0;
    left: 0;
    top: 65%;
    background: #1f1f1f;
    height: 100vh;
}

.Title_text_container {
    position: relative;
}

#Project_title_text, #Security_title_text, #Contact_title_text {
    padding: 10px;
    margin: 20px 150px;
    font-size: 2.5rem;
}

.underline_title_security, .underline_title_project, .underline_title_contact {
    bottom: 0;
    left: 160px;
    position: absolute;
    width: 410px;
    height: 5px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(31,31,31,1) 91%);
}

.underline_title_project {
    width: 140px;
}

.underline_title_contact {
    width: 150px;
}

.box_project_container {
    display: flex;
    justify-content: center;
    margin: 50px 0 150px 0;
    width: 100%;
    height: 250px;
}

.project_Box {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #1f1f1f;
    width: 350px;
    margin: 15px;
    font-size: 1.5rem;

    border: 3px solid white;
    border-radius: 15px;
}

.box_presentation_security {
    margin: 40px auto;
    width: 70%;
}

/* #text_presentation {
    text-align: center;
    padding: 15px;
} */

footer {
    color: white;
    position: absolute;
    width: 100%;
    height: 40vh;
    bottom: 0;
    background: #1f1f1f;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

input[type="email"] {
    border: 0;
    padding: 5px;
    font-size: 1rem;
    margin: 15px;
    width: 70%;
    border-radius: 5px;
}

textarea {
    border: 0;
    margin: 15px;
    padding: 5px;
    font-size: 1rem;
    resize: vertical;
    width: 70%;
    border-radius: 5px;
}

#email-container, #message-container {
    width: 40%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit {
    width: 40%;
    margin: 15px;
    border: 0;
    padding: 5px 20px;
    font-size: 1.3rem;
    border: 2px solid black;
    border-radius: 15px;

    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#submit:hover {
    background: #1f1f1f;
    border: 2px solid white;
    color: white;
}

#submit:active {
    transform: scale(0.9);
}